@use 'reset';
@use 'fonts';
@use 'tipso';

$body-color: #161617;
$white-color: #f2f2f2;
$akcent-color: #92f8e3;
$hover-color: #1ab293;
$greendark1: #1f322f;
$greendark2: #282828;
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
* {
    /*завжди пишеться в код  */
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h6 {
    margin: 0;
}
*::after,
*::before {
    box-sizing: border-box;
    /* щоб правилтно наслідувались властивості від батьків */
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
a {
    color: inherit;
    /* щоб наслідувався колір зсилок від батьків*/
    text-decoration: none;
    /* підкреслення */
    display: inline-block;
    cursor: pointer;
}
.big-container {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
body {
    background-color: $body-color;
    font-family: $roboto;
    color: $white-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
    scroll-behavior: smooth;
    position: relative;
}
section {
    margin-bottom: 100px;
}
.header__menu {
    border-radius: 36px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #282828;
    backdrop-filter: blur(15px);
    margin-top: 30px;
    margin-bottom: 18px;
    &-wrapper {
        padding: 26px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.menu__body {
    display: flex;
    gap: 20px;
    align-items: center;
}
.menu__list {
    display: flex;
    gap: 20px;
}
.menu__link {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.6;
    transition: all 0.5s ease;
}
.menu__link:hover {
    color: $hover-color;
    background-color: transparent;
}
.language {
    color: $akcent-color;
}

.zviazok {
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    border: 1px solid #92f8e3;
    background: #293c38;
}
.main__content-line {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #282828;
    backdrop-filter: blur(15px);
    &-wrapper {
        padding: 12px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.main__wrapper {
    padding-bottom: 26px;
    display: flex;
    position: relative;
}
.main__content {
    position: absolute;
}

.main__content-foto {
    margin-left: auto;
}
.main__content-foto img {
    border-radius: 36px;
}
.main__content {
    max-width: 567px;
    padding: 40px 30px;
    border-radius: 36px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(
        169deg,
        #313134 9.31%,
        #292929 61.88%,
        #282828 111.76%
    );
    transform: translate(0%, 20%);
    &-title {
        font-family: $poppins;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        max-width: 508px;
        color: $akcent-color;
    }
    &-subtitle {
        font-family: $poppins;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        max-width: 508px;
        color: $akcent-color;
        padding-bottom: 25px;
    }
    &-text {
        max-width: 508px;
        color: rgba(255, 255, 255, 0.65);
        font-family: $roboto;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-bottom: 70px;
    }
    &-btn-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &-btn {
        display: flex;
        align-items: center;
        column-gap: 10px;
        border-radius: 41px;
        border: 1.5px solid #2eecc5;
        background: rgba(46, 236, 197, 0.1);
        padding: 18px 36px;
        color: #fff;
        font-family: $roboto;
        font-size: 19px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        &-text {
            color: #fff;
            font-size: 19px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        &-zsulka {
            color: rgba(255, 255, 255, 0.4);
        }
    }
    &-btn:hover {
    }
}
.main__content-title.en {
    font-size: 45px;
}
.section__title {
    font-family: $poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $akcent-color;
    padding-bottom: 20px;
}
.about__content {
    position: relative;
    &-img {
        border-radius: 36px;
        max-width: 752px;
    }
    &-text {
        color: rgba(255, 255, 255, 0.65);
        font-family: $roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 35px;
        border-radius: 36px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: linear-gradient(
            169deg,
            #313134 9.31%,
            #292929 61.88%,
            #282828 111.76%
        );
        max-width: 616px;
        position: absolute;
        transform: translate(107%, -120%);
    }
}
.section__subtitle {
    font-family: $poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $akcent-color;
    padding-bottom: 10px;
}
.services__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 40px;
    &-item {
        max-width: 400px;
        height: 415px;
        border-radius: 36px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: linear-gradient(
            169deg,
            #313134 9.31%,
            #292929 61.88%,
            #282828 111.76%
        );
        text-align: center;
        &-title {
            padding-top: 34px;
            color: #fff;
            text-align: center;
            font-family: Roboto;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: 125.1%;
            padding-bottom: 60px;
        }
        &-text {
            color: rgba(255, 255, 255, 0.65);
            text-align: center;
            font-family: $roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 153.8%;
            max-width: 400px;
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    &-item:hover {
        background: linear-gradient(
            140deg,
            #527791 10.06%,
            #325597 53.72%,
            #193895 88%
        );
    }
}
.services__wrapper {
    padding-bottom: 50px;
}
.Layout {
    width: 400px;
}
.Layout .services__wrapper-item-title {
    padding-bottom: 0px;
    padding-top: 20px;
}
.services__layout-img {
    padding-top: 40px;
}
.program__wrapper {
    padding: 20px 30px;
    border-radius: 36px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(
        169deg,
        #313134 9.31%,
        #292929 61.88%,
        #282828 111.76%
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.principles {
    &__wrapper {
        justify-content: space-around;
    }
    &__item {
        height: 250px;
        overflow: hidden;
    }
    &__item:hover {
        border-radius: 36px;
        background: linear-gradient(
            140deg,
            #527791 10.06%,
            #325597 53.72%,
            #193895 88%
        );
        box-shadow: 0px 0px 150px 0px rgba(59, 95, 150, 0.35);
    }
    &__title {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
    }
}

.accordeon__item {
    border-radius: 10px;

    width: 100%;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #e2eaf2;
    background: linear-gradient(
        169deg,
        #313134 9.31%,
        #292929 61.88%,
        #282828 111.76%
    );
}

.accordeon__triger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    cursor: pointer;
}
.accordeon__title {
    color: #fff;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.accordeon__content {
    display: none;
    transition: all 0.5s ease;
}

.accordeon__item--active .accordeon__content {
    display: block;

    color: rgba(255, 255, 255, 0.65);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 20px 30px;
}
.accordeon__single-open {
    transition: all 1s ease;
}
.accordeon__single-close {
    display: none;
    transition: all 1s ease;
}

.accordeon__item--active .accordeon__single-open {
    display: none;
}
.accordeon__item--active .accordeon__single-close {
    display: inline-block;
}
.portfolio__design-sait-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    padding-bottom: 30px;
}

.portfolio__layout-sait-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    padding-bottom: 30px;
}
.portfolio__design-sait-wrapper img,
.portfolio__layout-sait-wrapper img {
    border-radius: 20px;
}
.portfolio__filter-wrapper {
    display: flex;
    column-gap: 40px;
    padding-bottom: 15px;
}
.portfolio__filter-wrapper button {
    color: #fff;
    border: none;
    background-color: transparent;
    font-family: $roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.portfolio__filter-wrapper button:hover {
    color: $akcent-color;
}
.portfolio__filter-wrapper button:active {
    color: $hover-color;
}
.portfolio__layout-more {
    color: #2eecc5;
    font-family: $roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: block;
    text-align: center;
}
.footer__wrapper {
    border-radius: 36px;
    border: 1px solid #fff;
    background: linear-gradient(
        140deg,
        #303134 10.06%,
        #282828 53.72%,
        #282828 88%
    );
    box-shadow: 0px 0px 80px 0px rgba(44, 44, 45, 0.35);
    padding: 78px;
    text-align: center;
}
.footer__menu-logo {
    padding-bottom: 30px;
}
.footer__menu {
    display: flex;
    justify-content: space-around;
    column-gap: 135px;
    align-items: center;
}
.footer__menu-item-content {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    padding-bottom: 30px;
}
.footer__title {
    color: #fff;
    text-align: center;
    font-family: $roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 30px;
}
.footer__kontact-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding-bottom: 30px;
}
.footer__copiraite {
    color: #fff;
    text-align: center;
    font-family: $roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
footer {
    margin-bottom: 30px;
}
.burger {
    display: none;
}

@media (max-width: 1300px) {
    .main__content {
        background: linear-gradient(
            169deg,
            rgba(49, 49, 52, 0.5) 9.31%,
            rgba(41, 41, 41, 0.5) 61.88%,
            rgba(40, 40, 40, 0.5) 111.76%
        );
    }
    .main__content-text {
        color: $white-color;
    }
    .main__content-btn-zsulka {
        color: $white-color;
    }
    .about__content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
    }
    .about__content-text {
        transform: unset;
        position: static;
        max-width: 100%;
    }
    .services__wrapper {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
    }
    .portfolio__filter-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .portfolio__design-sait-wrapper,
    .portfolio__layout-sait-wrapper {
        justify-content: space-around;
    }
    .footer__menu {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
    }
}
@media (max-width: 800px) {
    .about__content-wrapper img {
        max-width: 100%;
    }
    .footer__wrapper {
        padding: 30px;
    }
}
@media (max-width: 720px) {
    .main__content {
        transform: translate(0%, 0%);
    }
}
@media (max-width: 650px) {
    section {
        margin-bottom: 40px;
    }
    .section__title {
        font-size: 30px;
    }
    .section__subtitle {
        font-size: 25px;
    }
    body {
        overflow-x: hidden;
    }
    .menu__body {
        position: absolute;
        left: 200%;
        width: 97vw;
        height: 95vh;
        bottom: -75vh;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        text-align: center;
        border-radius: 36px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: #282828;
        backdrop-filter: blur(15px);
        padding: 15vh 0;
    }
    .burger {
        display: block;
    }
    .menu__body.active {
        left: 0;
    }
    .menu__body.active .menu__list {
        display: block;
    }
    .menu__body.active .menu__list .menu__item {
        padding-bottom: 20px;
    }
    .menu__link {
        font-size: 25px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40px;
        width: 50px;
        position: relative;
        cursor: pointer;

        span {
            display: inline-block;
            width: 100%;
            height: 5px;
            background-color: $akcent-color;
            transition: all 0.5s ease;
        }
    }

    .hamburger1 {
        span:nth-of-type(1),
        span:nth-of-type(3) {
            transform-origin: left;
        }

        &.active {
            span:nth-of-type(1) {
                transform: rotate(45deg);
            }

            span:nth-of-type(2) {
                opacity: 0;
            }

            span:nth-of-type(3) {
                transform: rotate(-45deg);
            }
        }
    }
    header {
        position: relative;
        z-index: 2;
    }
    .about__content-text {
        font-size: 18px;
    }
    .program__wrapper {
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }
}
@media (max-width: 580px) {
    .some-foto img {
        display: none;
    }
    .some-foto {
        height: 40vh;
        width: 100vw;
    }
    .main__content {
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0.3)
            ),
            url('/images/main-foto.avif');
        background-position: center top;
        background-repeat: no-repeat;
    }

    .main__content-line {
        position: relative;
        z-index: -1;
        margin-top: 30px;
    }
}
@media (max-width: 520px) {
    .main__content-title {
        font-size: 45px;
        padding-top: 20vw;
    }

    .main__content-subtitle {
        font-size: 35px;
    }
    .main__content-text {
        font-size: 20px;
        padding-bottom: 20px;
    }
    .main__content-btn-wrapper {
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .about__content-text {
        font-size: 16px;
    }
    .accordeon__title {
        font-size: 18px;
    }
    .accordeon__text {
        font-size: 16px;
    }
    .footer__title {
        font-size: 30px;
    }
}
@media (max-width: 450px) {
    .main__content-title {
        font-size: 35px;
        padding-top: 0;
    }
    .header__menu-wrapper {
        padding: 10px 15px;
    }
    .main__content-subtitle {
        font-size: 25px;
    }
    .main__content-text {
        font-size: 20px;
    }
    .header__menu {
        margin: 10px;
    }
    .menu__body.active {
        left: -15px;
    }
    .section__title {
        font-size: 30px;
    }
    .section__subtitle {
        font-size: 25px;
    }
    .services__wrapper-item-title {
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .services__wrapper-item {
        height: 252px;
        overflow: hidden;
    }
    .services__wrapper-item-text {
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .principles__item {
        height: 150px;
    }
    .services__wrapper {
        padding-bottom: 10px;
    }
    .accordeon__single-open,
    .accordeon__single-close {
        max-width: 20%;
    }
    .portfolio__layout-more {
        padding-bottom: 20px;
    }
}
@media (max-width: 380px) {
    .main__content-title {
        font-size: 35px;
        padding-top: 0;
    }

    .main__content-line-wrapper img:first-child {
        display: none;
    }
    .about__content-text {
        font-size: 14px;
    }
    .main__content-subtitle {
        font-size: 25px;
        padding-top: 20px;
    }

    .main__content-text {
        display: none;
    }
    .services__layout-img {
        padding-top: 20px;
    }
    .Layout .services__wrapper-item-title {
        padding-top: 10px;
    }
    .program__icon {
        max-width: 18%;
    }
}
