<div class="mix category-f category-l">
  <a href="https://helios912.github.io/portrait/" class="portfolio__design-sait-item">
    <img src="./images/design15.avif" alt="" class="portfolio__design-sait-img">
  </a>
</div>
<div class="mix category-f category-l">
  <a href="https://helios912.github.io/candle/" class="portfolio__design-sait-item">
    <img src="./images/design16.avif" alt="" class="portfolio__design-sait-img">
  </a>
</div>
<div class="mix category-f category-l">
  <a href="https://helios912.github.io/cuba/" class="portfolio__design-sait-item">
    <img src="./images/design17.avif" alt="" class="portfolio__design-sait-img">
  </a>
</div>
<div class="mix category-f category-l">
  <a href="https://helios912.github.io/himo/" class="portfolio__design-sait-item">
    <img src="./images/design18.avif" alt="" class="portfolio__design-sait-img">
  </a>
</div>
<div class="mix category-f category-l">
  <a href="https://helios912.github.io/lamborghini/" class="portfolio__design-sait-item">
    <img src="./images/design19.avif" alt="" class="portfolio__design-sait-img">
  </a>
</div>
<div class="mix category-f category-l">
  <a href="https://helios912.github.io/safari/" class="portfolio__design-sait-item">
    <img src="./images/design20.avif" alt="" class="portfolio__design-sait-img">
  </a>
</div>
<div class="mix category-f category-l">
  <a href="https://helios912.github.io/space/" class="portfolio__design-sait-item">
    <img src="./images/design21.avif" alt="" class="portfolio__design-sait-img">
  </a>
</div>
<div class="mix category-f category-l">
  <a href="https://helios912.github.io/sup/" class="portfolio__design-sait-item">
    <img src="./images/design22.avif" alt="" class="portfolio__design-sait-img">
  </a>
</div>
<div class="mix category-f category-l">
  <a href="https://helios912.github.io/to2rent/" class="portfolio__design-sait-item">
    <img src="./images/design23.avif" alt="" class="portfolio__design-sait-img">
  </a>
</div>
<div class="mix category-f category-l">
  <a href="https://helios912.github.io/viking/" class="portfolio__design-sait-item">
    <img src="./images/design24.avif" alt="" class="portfolio__design-sait-img">
  </a>
</div>
<div class="mix category-f category-l">
  <a href="https://helios912.github.io/food/" class="portfolio__design-sait-item">
    <img src="./images/design25.avif" alt="" class="portfolio__design-sait-img">
  </a>
</div>
<div class="mix category-f category-l">
  <a href="https://helios912.github.io/vikna/" class="portfolio__design-sait-item">
    <img src="./images/design26.avif" alt="" class="portfolio__design-sait-img">
  </a>
</div>